@font-face {
  font-family: "Andale Mono";
  src: url("andalemono.ttf") format("truetype");
  font-style:normal;
  font-weight: 1 1000;
}

@font-face {
  font-family: "Playfair Display SC";src: url("static/PlayfairDisplaySC-Regular.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Andale Mono';
    width: 100%;
    height: 100%;
}
#logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
#main-frame {
    width: 100%;
    border: none;
    padding: var(--side-padding);
    width: calc(100% - var(--side-padding) * 2);
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 75px;
    transition: 0.2s;
}

.button-hovered {
  background-color: yellow;
  color: black;
}

#top-bar {
    display: -webkit-flex;
    height: 70px;
    align-items: center;
    -webkit-align-items: center;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: auto;
    align-self: center;
    justify-content: center;
}

.nav-button {
    font-size: 12pt;
    flex: 1;
    align-items: center;
    align-content: end;
    -webkit-align-items: center;
    -webkit-text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background-color: yellow;
    color: black;
    border-left: 1px solid black;
    -webkit-tap-highlight-color: yellow;
}
.nav-button:hover {
    background-color: black;
    color: white;
}
:root {
    --side-padding: 8vw;
}
#footer {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-flex;
    background-color: yellow;
    color: black;
    border-top: black 1px solid;
    padding: var(--side-padding);
    height: 100px;
    align-items: center;
    align-content: center;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12pt;
}
#intro-div {
    line-height: 1.3em;
    margin-top: 30px;
    height: 100%;
    font-size: 12pt;
}


#about-top {
  display: block;
}
#down-left-arrow {
  display: block;
}
#up-right-arrow {
  display: block;
}
.mobile-lb {
  display: block;
}

#head {
    width: 33%;
    height: fit-content;
    background-color: yellow;
    padding-top: 10px;
    border: 1px solid black;
}
#down-left-arrow {
    transform: rotate(-210deg);
    height: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}
#up-right-arrow {
    transform: rotate(-70deg);
    height: 10px;
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    font-size: 32pt;
    font-family: 'Andale Mono';
}

li {
    margin-left: -40px;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid black;
}

a:hover {
  background-color: black;
  color: white;
}

.other-link {
  background-color: white;
}

.other-link:hover {
  background-color: black;
}

.quote-attr {
    text-align: left;
    font-style: italic;
    display: block;
}
.highlight {
  text-decoration: none;
  color: white;
  background-color: black;
}

.highlight-yellow {
  text-decoration: none;
  color: black;
  background-color: yellow;
  width: 100%;
}

.larger-text {
  font-size: 16pt;
}

.orgs-wrapper {
  display: grid;
  overflow: hidden;
  position: relative;
  width: calc(100% - 0.5rem);
}

.orgs {
  display: flex;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  margin-bottom: 16px;
  will-change: transform;
  backface-visibility: hidden;
}

.orgs:hover {
  animation-play-state: paused;
}

.an-org {
  flex-shrink: 0;
  width: 200px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-right: 16px;
  font-size: 10pt;
  transform: none !important;
  animation: none !important;
  will-change: transform;
  backface-visibility: hidden;
}

.an-org:hover {
  background-color: white;
  color: black;
}

.org-info {
  text-transform: uppercase;
}

.play-name {
    user-select: none;
  background-color: black;
  text-align: center;
  color: white;
  border-bottom: 1px solid black;
}

.org-logo {
  width: 30%;
  height: auto;
  aspect-ratio: 1/1;
  margin-right: 10px;
  border: 1px solid black;
  object-fit: cover;
}

.work-description {
  display: none;
  opacity: 0;
  font-size: 9pt;
}

.an-org:hover .work-description {
  display: block;
  opacity: 1;
}

.an-org:hover .org-info {
  display: none;
}


#testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 75px;
    margin-top: 40px;
    box-sizing: border-box;
}

.a-testimonial {
    align-items: center;
    -webkit-align-items: center;
    font-size: 12pt;
    width: calc(100% - 0.5rem);      
    padding: 1rem;  
    border: 1px black solid;
    background-color: white;
    box-sizing: border-box;
    align-content: center;
}

.a-testimonial:hover {
  background-color: black;
  color: white;
}

.a-testimonial:hover .highlight{
  background-color: yellow;
  color: black !important;
}

#work-spacer {
  width: 20%;
}

#work-tag {
    font-size: 12pt;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 1.3em;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}


.play-img {
    user-select: none;
    width: 100%;
    height: 100%;
    aspect-ratio : 1 / 1;
    border: 1px solid black;
  }



  #play-table {
      user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 75px;
    margin-top: 40px;
    box-sizing: border-box;
    width: 100%;
}

.play-info {
    user-select: none;
  font-size: 12pt;
}


.contact-type {
  font-size: 16pt;
}

#name-and-face {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.a-play {
  user-select: none;
    width: calc(100%);      
    padding: 20px;  
    border: 1px black solid;
    box-sizing: border-box;
    justify-content: center; 
    background-color: white;
}

.a-play:hover {
  background-color: black;
  color: white;
}

.a-play:hover a{
  background-color: white;
  color: black;
}

.a-play:hover a:hover{
  background-color: yellow;
  color: black;
}

.a-play:hover .play-name {
  border-bottom: 1px solid white;
}

.a-play:hover .play-img {
    border: 1px black solid;
}


.contact-div {
  font-size: 12pt;
  padding: 20px;
  border: 1px solid black;
  color: black;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 1.3rem;
}

#contact {
  width: 100%;
}

.contact-div:hover {
  background-color: yellow;
}

.other-links {
  background-color: white;
}

.other-links:hover .other-link {
  background-color: transparent;
}

.other-link:hover {
  background-color: black !important;
}

#contact {
  width: 90%;
}

#big-circle {
  border: 1px dashed black;
  border-radius: 50%;
  width: 600px;
  height: 600px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.easeload {
    transition: all 0.5s ease;
    opacity: 0;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}

#social-div {
  cursor: pointer;
}


.social-icon {
  cursor: pointer;
  opacity: 1;
  width: 22px;
  height: 22px;
}

.social-icon:hover {
  cursor: pointer;
  opacity: 1;
  /*filter: invert(93%) sepia(41%) saturate(3499%) hue-rotate(3deg) brightness(107%) contrast(105%);*/
}

.social-link {
  border: none;
}

.social-link:hover{
  background-color: white;
}

@media screen and (min-width: 500px) {
  .a-play {
    width: calc(50% - 1rem); 
  }
}

@media screen and (min-width: 768px) {

  #name-and-face {
  border-bottom: none;
  border-right: 1px solid black;
  padding-bottom: 0px;
  padding-right: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
 }

  #about-top {
    display: flex;
  }
  #down-left-arrow {
    display: block;
  }
  #up-right-arrow {
    display: block;
  }
  .mobile-lb {
    display: none;
  }

  #top-bar {
    height: 80px;
  }

  #logo {
    height: 80px;
    width: 80px;
  }

  #main-frame {
    margin-top: 100px;
  }

  #head {
      height: 250px;
      width: 250px;
  }

  .nav-button {
    font-size: 16pt;
  }

  #footer {
    font-size: 12pt;
  }

  #intro-div {
    margin-top: 0px;
  }

  .a-play {
    width: calc(25% - 1.5rem); 
  }

  .an-org {
    font-size: 11pt;
    width: 250px;
  }

  .org-logo {
    width: 20%;
  }

  .a-testimonial {
    width: calc(33% - 0.5rem);
  }

}